@model CategoriaVM
@{
    var titulo = Model.CategoriaId == 0 ? "Nueva Categoria" : "Editar Categoria";
    var btnClick = Model.CategoriaId == 0 ? "Agregar" : "Guardar cambios";
}

<div class="row">
    <div class="col-6">

        <h2>@titulo</h2>
        <hr />
        <form action="/Categoria/AgregarEditar" method="post">
            <input type="hidden" asp-for="CategoriaId" />
            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control" asp-for="Nombre" autocomplete="off" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            @if (ViewBag.Mensaje != null)
            {
                <div class="alert alert-success" role="alert">
                    @ViewBag.Mensaje
                </div>
            }

            <div class="d-grid gap-2 d-md-block mt-4">
                <button class="btn btn-primary" type="submit">@btnClick</button>
                <a href="/Categoria/Index" class="btn btn-warning">Volver</a>
            </div>
        </form>
    </div>
</div>